*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
body {
    background-color: #f5f6fa;
}
/* styling the links */
.nav-bar{
    width: 360px;
    height: auto;
    display: flex;
    background-color: #f5f6fa;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
    box-shadow: 2px 2px 18px rgba(0,0,0,.7);
}